extend ../layout/index.pug

include /livedatetime/livedatetime
include /dashboard/dashboard
include /dashboardtile/dashboardtile
include /hometemperatures/hometemperatures
include /heaterstats/heaterstats

block breadcrumb
  h2= t("overview")

block main
  //- if model && model.errors && model.errors.length > 0
    +notificationError(model.errors)
  //- else
    +notificationSuccess(t("noerror"))
  //- +heatingMode(model.heatingMode)
  .home
    +liveDateTime(model.systemTime, locale).home__systemTime
    +dashboard().home__dashboard
      +dashboardTile().home__dashboardTile
        +homeTemperatures(model.outsideTemp.temperature, model.roomTemp.temperature)
      +dashboardTile().home__dashboardTile
        +heaterStats(model.heatingMode, model.burnerStatus, model.failureStatus, model.failures)
  = JSON.stringify(model)
