.home
  &__dashboard
    margin $space-normal

  &__dashboardTile
    calcTileSize(1)
    @media $mq-m_to_l
      calcTileSize(2)
    @media $mq-l_to_xl
      calcTileSize(1)
    @media $mq-xl_to_xxl
      calcTileSize(2)
    @media $mq-xxl_and_up
      calcTileSize(3)

  &__systemTime
    font-weight bold
    font-size $font-size-normal
    border-bottom 1px solid black
