.home
  &__dashboard
    margin $space-normal

  &__dashboardTile
    calcTileSize(1)
    @media $mq-s_to_xl
      calcTileSize(2)
    @media $mq-xl_and_up
      calcTileSize(3)

  &__systemTime
    font-weight bold
    font-size $font-size-normal
    border-bottom 1px solid black
