extend ../layout/index.pug

include /livedatetime/livedatetime
include /heatingmode/heatingmode
include /temperature/temperature
include /failurestatus/failurestatus
include /failuremessage/failuremessage

block breadcrumb
  h2= t("overview")

block main
  //- if model && model.errors && model.errors.length > 0
    +notificationError(model.errors)
  //- else
    +notificationSuccess(t("noerror"))
  //- +heatingMode(model.heatingMode)
  +liveDateTime(model.systemTime, locale).home__systemTime
  +heatingMode(model.heatingMode).home_heatingMode
  +temperature(model.outsideTemp.temperature).home__outsideTemperature
  +temperature(model.roomTemp.temperature).home__roomTemperature
  +failureStatus(model.failureStatus.hasFailure)
  each failure in model.failures.items
    +failureMessage(failure)
  = JSON.stringify(model)
