.menu
  border-top 1px solid $color-navigation-separator
  border-bottom 1px solid $color-navigation-separator
  background-color $color-navigation-main-l1
  padding 8px 0 8px 0

  &__item
    background-color transparent

    &--level1
      color $color-navigation-main-l1-inverse
      fill $color-navigation-main-l1-inverse

      ul
        background-color $color-navigation-main-l2
        transition 0.5s max-height
        overflow hidden
        max-height 0

    &--level2
      color $color-navigation-main-l2-inverse
      fill $color-navigation-main-l2-inverse

  input
    display none

    &:checked + li
      > ul
        max-height 300px

      .menu__labelIcon
        transform rotate(180deg)

  &__label
    padding 8px 8px 8px 16px
    width 100%
    cursor pointer
    display flex
    justify-content space-between

    &Icon
      transition 0.5s transform
      width 16px

  &__link
    display block
