doctype html
html
  include ./head.pug
  body
    input(type="checkbox" id="sidebarNavigationTrigger__selector")
    include ./navigation
    main
      include ./header
      block main
    include ./footer.pug
