doctype html
html
  include ./head.pug
  body
    input(type="checkbox" id="sidebarNavigationTrigger__selector")
    include ./navigation
    main
      .sidebarNavigationTrigger
        label(for="sidebarNavigationTrigger__selector") X
      include ./header
      block main
    include ./footer.pug
