include /menu/menu

.sidebarNavigation
  +menu([
    {url: "/", label: t("overview")},
    {url: "/warmwater/heating/times", label: t("warmwater")},
    {url: "/heater/heating/times", label: t("heater")},
  ])
