extend ../layout/index.pug

include /notification/notification
include /form/form
include /weekcycletimes/weekcycletimes
include /section/section
include /button/button

block breadcrumb
  h2= t("warmwater.heating")

block main
  +sections().warmwaterHeating__sections
    +section("settings", t("warmwater.heating.settings"), true)
      +form("/warmwater/heating/settings", "PUT").warmwaterHeating__settingsForm
      
    +section("heatingTimes", t("warmwater.heating.times"))
      +form("/warmwater/heating/times", "PUT").warmwaterHeating__timesForm
        +weekCycleTimes(model)
        +buttonPrimary(t("savechanges"))(type="submit")
