include /temperature/temperature
include /icon/icon
include /form/form
include /scalabletemperaturefield/scalabletemperaturefield
include /scalebox/scalebox
include /lockingbutton/lockingbutton
include /button/button
include /livedatetime/livedatetime

mixin heaterInfos(heaterInfos)
  .heaterInfos
    a(href="#" class=heaterInfos.failureStatus.hasFailure ? "heaterInfos__failureStatus--hasFailure" : null).heaterInfos__element.heaterInfos__failureStatus
      +buttonIcon("bolt")
    +scaleBox(150, 70).heaterInfos__element.heaterInfos__systemTime
      +liveDateTime(heaterInfos.systemTime, locale)
    +form("GET", "#").heaterInfos__element.heaterInfos__heating
      +lockingButtonIcon("heatingOn", "radiator", heaterInfos.heatingMode.heating)
    +form("GET", "#").heaterInfos__element.heaterInfos__water
      +lockingButtonIcon("warmWaterOn", "water-tap", heaterInfos.heatingMode.warmwater)
    +icon("fire")(class=heaterInfos.burnerStatus.isActive ? "heaterInfos__burnerStatus--active" : null).heaterInfos__element.heaterInfos__burnerStatus
    +scaleBox(100, 35).heaterInfos__element.heaterInfos__burnerTemperature
      +temperature(heaterInfos.burnerTemp.temperature, 1)
    +icon("droplet")(class=heaterInfos.waterStatus ? "heaterInfos__waterStatus--active" : null).heaterInfos__element.heaterInfos__waterStatus
    +scaleBox(100, 35).heaterInfos__element.heaterInfos__waterTemperature
      +temperature(heaterInfos.waterTemp.temperature, 1)
    +form("PUT", "/overview/heaterinfos")
      .heaterInfos__element.heaterInfos__waterTargetTemperature
        +scalableTemperatureField(75, 37, "waterTargetTemperature", heaterInfos.waterTargetTemp.temperature)
    //- .heaterInfos__element
      each failure in model.failures.items
        +failureMessage(failure)
