include /heatingmode/heatingmode
include /temperature/temperature
include /failurestatus/failurestatus
include /failuremessage/failuremessage
include /icon/icon
include /form/form
include /scalabletemperaturefield/scalabletemperaturefield
include /scalebox/scalebox

mixin heaterStats(heatingMode, burnetStatus, burnerTemp, waterStatus, waterTemp, waterTargetTemp, failureStatus, failures)
  .heaterStats
    +heatingMode(heatingMode).heaterStats__element
    +icon("fire")(class=burnerStatus ? "heaterStats__burnerStatus--active" : null).heaterStats__element.heaterStats__burnerStatus
    +scaleBox(100, 35).heaterStats__element.heaterStats__burnerTemperature
      +temperature(burnerTemp, 1)
    +icon("droplet")(class=waterStatus ? "heaterStats__waterStatus--active" : null).heaterStats__element.heaterStats__waterStatus
    +scaleBox(100, 35).heaterStats__element.heaterStats__waterTemperature
      +temperature(waterTemp, 1)
    +form("PUT", "/heaterstats")
      .heaterStats__element.heaterStats__waterTargetTemperature
        +scalableTemperatureField(75, 37, "waterTargetTemperature", waterTargetTemp)
    +failureStatus(failureStatus.hasFailure).heaterStats__element
    .heaterStats__element
      each failure in model.failures.items
        +failureMessage(failure)
