.heaterStats
  width 100%
  padding-bottom 66.66%
  background svgImport("heater.svg") bottom right no-repeat
  position relative
  font-weight bold

  &__element
    position absolute

  &__burnerStatus
    bottom 67%
    right 10%
    width 13%
