extend ../layout/index.pug

include /livedatetime/livedatetime
include /dashboard/dashboard
include /dashboardtile/dashboardtile
include /hometemperatures/hometemperatures
include /heaterinfos/heaterinfos

block breadcrumb
  h2= t("overview")

block main
  .overview
    +dashboard().overview__dashboard
      +dashboardTile().overview__dashboardTile
        +homeTemperatures(model.outsideTemp.temperature, model.roomTemp.temperature, model.reducedRoomTemp.temperature)
      +dashboardTile().overview__dashboardTile
        +heaterInfos(model.systemTime, model.heatingMode, model.burnerStatus, model.burnerTemp.temperature, model.waterStatus, model.waterTemp.temperature, model.waterTargetTemp.temperature, model.failureStatus)
  = JSON.stringify(model)
