extend ../layout/index.pug

include /livedatetime/livedatetime
include /dashboard/dashboard
include /dashboardtile/dashboardtile
include /hometemperatures/hometemperatures
include /heaterinfos/heaterinfos

block breadcrumb
  h2= t("overview")

block main
  .overview
    +dashboard().overview__dashboard
      +dashboardTile().overview__dashboardTile
        +homeTemperatures(model.homeTemperatures)
      +dashboardTile().overview__dashboardTile
        +heaterInfos(model.heaterInfos)
  = JSON.stringify(model)
