$color-brand = #ee2d24

$color-main = #333
$color-background = white
$color-background2 = #f1f1f3
$color-separator = #d2d2d7

$color-highlight = #f1f1f3

$color-primary = #ad1c16
$color-primary-inverse = white
$color-secondary = #555
$color-secondary-inverse = white

$color-error = #d00000

$color-header = white
$color-header-inverse = $color-brand
$color-header2 = white
$color-header2-inverse = $color-main

$color-navigation-main-l1 = $color-secondary
$color-navigation-main-l1-inverse = white
$color-navigation-main-l2 = $color-main
$color-navigation-main-l2-inverse = white
$color-navigation-separator = #858585
