calcTileSize(numTiles)
  max-width "calc(%s% - %s)" % ((100/numTiles) ((numTiles - 1) * $space-normal))
  min-width "calc(%s% - %s)" % ((100/numTiles) ((numTiles - 1) * $space-normal))
  margin-bottom (2 * $space-normal)
