.homeTemperatures
  width 100%
  padding-bottom 66.66%
  background svgImport("home.svg") bottom right no-repeat
  position relative
  font-weight bold
  font-size $font-size-medium

  &__element
    position absolute

  &__iconDayNight
    top 14%
    left 27%
    width 13%

  &__iconFrost
    top 14%
    left 5%
    width 13%
    svg
      fill $color-shaded
    &--active
      svg
        fill $color-main

  &__outsideTemperature
    bottom 11%
    right 61%
    width 38%

  &__roomTemperatures
    display flex
    align-items center
    width 41%
    right 12%
    .icon
      flex-shrink 0
      width 20%
      margin-right 5%

  .scalableTemperatureField
    height 100%

  &__roomTemperature
    bottom 33%

  &__reducedRoomTemperature
    bottom 7%
