include /form/form
include /temperature/temperature
include /scalabletemperaturefield/scalabletemperaturefield
include /scalebox/scalebox

mixin homeTemperatures(outsideTemp, roomTemp, reducedRoomTemp)
  .homeTemperatures&attributes(attributes)
    +icon("sun").homeTemperatures__element.homeTemperatures__iconDayNight
    +icon("snowflake-o").homeTemperatures__element.homeTemperatures__iconFreezing
    +scaleBox(110, 35).homeTemperatures__element.homeTemperatures__outsideTemperature
      +temperature(outsideTemp, 1)
    +form("PUT", "/roomtemperatures", true)
      .homeTemperatures__element.homeTemperatures__roomTemperatures.homeTemperatures__roomTemperature
        +icon("sun")
        +scalableTemperatureField(75, 37, "roomTemperature", roomTemp)
      .homeTemperatures__element.homeTemperatures__roomTemperatures.homeTemperatures__reducedRoomTemperature
        +icon("moon-fill")
        +scalableTemperatureField(75, 37, "reducedRoomTemperature", reducedRoomTemp)
