include /form/form
include /temperature/temperature
include /scalabletemperaturefield/scalabletemperaturefield
include /scalebox/scalebox

mixin homeTemperatures(homeTemperatures)
  .homeTemperatures&attributes(attributes)
    +icon(homeTemperatures.dayNightMode ? "sun" : "moon-fill").homeTemperatures__element.homeTemperatures__iconDayNight
    +icon("snowflake-o").homeTemperatures__element.homeTemperatures__iconFrost(class=homeTemperatures.frostIndicator.hasWarning ? "homeTemperatures__iconFrost--active" : null)
    +scaleBox(110, 35).homeTemperatures__element.homeTemperatures__outsideTemperature
      +temperature(homeTemperatures.outsideTemp.temperature, 1)
    +form("PUT", "/overview/roomtemperature", true)
      .homeTemperatures__element.homeTemperatures__roomTemperatures.homeTemperatures__roomTemperature
        +icon("sun")
        +scalableTemperatureField(75, 37, "roomTemperature", homeTemperatures.roomTemp.temperature)
    +form("PUT", "/overview/reducedroomtemperature", true)
      .homeTemperatures__element.homeTemperatures__roomTemperatures.homeTemperatures__reducedRoomTemperature
        +icon("moon-fill")
        +scalableTemperatureField(75, 37, "reducedRoomTemperature", homeTemperatures.reducedRoomTemp.temperature)
