include /form/form
include /temperature/temperature

mixin homeTemperatures(outsideTemp, roomTemp)
  .homeTemperatures&attributes(attributes)
    +icon("sun").homeTemperatures__element.homeTemperatures__iconDayNight
    +icon("snowflake-o").homeTemperatures__element.homeTemperatures__iconFreezing
    svg(viewBox="0 0 120 35").homeTemperatures__element.homeTemperatures__outsideTemperature
      foreignObject(width="100%" height="100%")
        +temperature(outsideTemp, 1)
    +form("/roomtemperatures", "PUT", true)
      .homeTemperatures__element.homeTemperatures__roomTemperatures.homeTemperatures__roomTemperature
        +icon("sun")
        svg(viewBox="0 0 100 50")
          foreignObject(width="100%" height="100%")
            +temperatureField(roomTemp, "roomTemperature")
      .homeTemperatures__element.homeTemperatures__roomTemperatures.homeTemperatures__reducedRoomTemperature
        +icon("moon-fill")
        svg(viewBox="0 0 100 50")
          foreignObject(width="100%" height="100%")
            +temperatureField(roomTemp, "reducedRoomTemperature")
