.formField

  margin 4px

  &__label
    font-size 14px
    color #f0f0f0

  input
    border solid 1px grey
    padding 4px

    &.formField--error
      border-color red

  .errorText
    font-size 12px
