include /formfields/formfields
  
mixin timerTime(id, name, timerTime)
  .timerTime&attributes(attributes)
    +__timerTimeInputField(id + "On", name + "[on]", timerTime ? timerTime.on : null)
    +__timerTimeInputField(id + "Off", name + "[off]", timerTime ? timerTime.off : null)

mixin __timerTimeInputField(id, name, time)
  +textField(null, id, name, time ? time.time : null, time ? time.errors : null)
