include /formfields/formfields
  
mixin timerTime(id, name, timerTime)
  .timerTime
    +textField(null, id + "On", name + "[on]", timerTime.on.time, timerTime.on.errors)
    +textField(null, id + "Off", name + "[off]", timerTime.on.time, timerTime.off.errors)
    +errorText(timerTime.errors)
