.heater

  &__topSpacer
    height $space-small
    background-color $color-background2

  &__sections
    height calc(100vh - 108px)

  &__submitButton
    margin-top $space-small
    margin-left $space-normal
