extend ../layout/index.pug

include /section/section
include /form/form
include /weekcycletimes/weekcycletimes
include /button/button

block breadcrumb
  h2= t("heater")

block main
  +sections().heater__sections
    +section("heatingTimes", t("heater.heating.times"), true)
      +form("PUT", "/heater/heating/times").heater__heatingTimesForm
        +weekCycleTimes(model.heatingTimes)
        +buttonPrimary(t("savechanges"))(type="submit").heater__submitButton
