include /link/link

nav.navigation
  ul
    li
      +link("/", t("overview"))      
    li= t("warmwater")
      ul
        li      
          +link("/warmwater/heating", t("warmwater.heating.times"))
        li      
          +link("/warmwater/circulation", t("warmwater.circulation.times"))
    li= t("heating")
      ul
        li
          +link("/heating/times", t("heating.times"))
