.sections
  display flex
  position relative
  overflow hidden

  .section
    &__selector
      display none

      &:checked
        & + * + .section__content
          opacity 1
          visibility visible
        & + .section__label
          border-bottom 2px solid $color-primary

    &__label
      margin 4px 8px 4px 8px
      padding 4px

    &__content
      transition visibility 0.2s, opacity 0.2s
      opacity 0
      visibility hidden
      position absolute
      left 0
      top 32px
      height calc(100% - 32px)
      width 100%
      overflow-y auto
