include /icon/icon

mixin heatingMode(heatingMode)
  .heatingMode&attributes(attributes)
    if (heatingMode | 1)
      +icon("fire", 32).heatingMode__icon
    if (heatingMode | 2)
      +icon("shower", 32).heatingMode__icon
