include /icon/icon

mixin heatingMode(heatingMode)
  .heatingMode&attributes(attributes)
    if (heatingMode.heating)
      +icon("fire", 32).heatingMode__icon
    if (heatingMode.warmwater)
      +icon("shower", 32).heatingMode__icon
