mixin sections()
  .sections&attributes(attributes)
    block
      
mixin section(id, title, selected)
  .section&attributes(attributes)
    input(type="radio" name="name" id=id checked=selected).section__selector
    label(for=id).section__label= title
    .section__content
      block
