include /timertimes/timertimes

mixin weekTimerTimes(weekTimerTimes)
  .weekTimerTimes&attributes(attributes)
    each timerTimes, day in weekTimerTimes
      .weekTimerTimes__dayTimes
        .weekTimerTimes__day= t(day)
        +timerTimes(day, timerTimes)
