nav.navigation
  ul
    li
      a(href="/" title="Übersicht") Übersicht      
    li Warmwasser
      ul
        li      
          a(href="/warmwater/circulation" title="Warmwasser Zirkulation") Zirkulation
    li Heizung
      ul
        li
          a(href="/heating/times" title="Heizzeiten") Heizzeiten
