.weekCycleTimes

  &__dayTimes
    display flex
    padding $space-small $space-normal $space-small $space-normal

    &--odd
      background-color $color-highlight

  &__day
    width 100px
    flex 0 0 auto

  &__times
    flex 1 1 auto
    max-width 800px
