include /link/link
include /icon/icon

mixin navigation(tree)
  nav.navigation&attributes(attributes)
    +__navigationItems(tree, 1, "nav")

mixin __navigationItems(items, level, prefix)
  ul(class="navigation__level" + level)
    each item, index in items
      - const id = prefix + index
      if item.items
        input(type="checkbox" id=id name="nav")
      li.navigation__item(class="navigation__item--level" + level)
        if item.url
          +link(item.url, item.label).navigation__label
        else
          label(for=id).navigation__label
            span= item.label
            +icon("angle-down").navigation__labelIcon
        if item.items
          +__navigationItems(item.items, level + 1, id)
