include /scalableformfields/scalableformfields
include /scalebox/scalebox

mixin scalableTemperatureField(sizex, sizey, name, temperature, decimals = 0)
  - const degreesTextRatio = 0.9
  - const sizexDegrees = sizey * degreesTextRatio 
  - const sizexTemperature = sizex - sizexDegrees
  .scalableTemperatureField
    .scalableTemperatureField__temperature(style=`flex-basis: ${sizexTemperature * 100 / sizey}%`)
      +scalableNumberField(sizexTemperature, sizey, name, name, temperature.toFixed(decimals))&attributes(attributes)
    .scalableTemperatureField__degrees(style=`flex-basis: 75%`)
      +scaleBox(sizexDegrees, sizey)
        .scalableTemperatureField__degreesText(style=`height: ${sizey}px`)
          p= "°C"
