extend ../layout/index.pug

include /form/form
include /weektimertimes/weektimertimes

block main
  h1= t("warmwater.circulation")
  h2= t("warmwater.circulation.times")
  +form("/warmwater/circulation", "PUT")
    +weekTimerTimes(model.times)
          
    button(type="submit")= t("savechanges")
