extend ../layout/index.pug

include /notification/notification
include /form/form
include /weektimertimes/weektimertimes
include /section/section

block breadcrumb
  h2= t("warmwater.circulation")  

block main
  +sections().warmwaterCirculation__sections
    +section("circulationTimes", t("warmwater.circulation.times"), true)
      +notificationError(errors, true).warmwaterCirculation__timesError
      +form("/warmwater/circulation", "PUT").warmwaterCirculation__timesForm
        +weekTimerTimes(model)
        button(type="submit")= t("savechanges")
    +section("tab2", "Tab 2")
      | blablabla
