extend ../layout/index.pug

include /notification/notification
include /form/form
include /weektimertimes/weektimertimes
include /section/section

block breadcrumb
  h2= t("warmwater.circulation")  

block main
  +sections()
    +sectionLabels()
      +sectionLabel("circulationTimes", t("warmwater.circulation.times"), true)
      +sectionLabel("tab2", "Tab 2")
    +sectionContents()  
      +sectionContent("circulationTimes")
        //s- const errors = err instanceof Array ? err : [err]
        //if err && errors.length > 0
        +notificationError(errors, true).warmwaterCirculation__timesError
        +form("/warmwater/circulation", "PUT").warmwaterCirculation__timesForm
          +weekTimerTimes(model)
          button(type="submit")= t("savechanges")
      +sectionContent("tab2")
        | blablabla
