extend ../layout/index.pug

include /form/form
include /weekcycletimes/weekcycletimes

block main
  h1= t("warmwater.heating")
  h2= t("warmwater.heating.times")
  +form("/warmwater/heating", "PUT")
    +weekCycleTimes(model.times)
          
    button(type="submit")= t("savechanges")
